<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.zeroq6.gsnake4j.thread.Drawer" level="OFF" />
	<logger name="com.zeroq6.gsnake4j.thread.Snake" level="DEBUG" />
	<logger name="com.zeroq6.gsnake4j.cfg.Configuration" level="DEBUG" />
	<logger name="com.zeroq6.gsnake4j.app.App" level="DEBUG" />
	<logger name="com.zeroq6.gsnake4j.listener.WindowActionListener" level="DEBUG" />
	<logger name="com.zeroq6.gsnake4j.listener.WindowKeyListener" level="DEBUG" />
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>